# Created by .ignore support plugin (hsz.mobi)
Supprimerait .gitignore
Supprimerait gpcdz_api/__pycache__/
Supprimerait .idea/dataSources.xml
Supprimerait .idea/dataSources/
Supprimerait .idea/vcs.xml
Supprimerait db.sqlite3
Supprimerait geolocation/migrations/

Supprimerait .idea/dataSources/3e29f362-62e4-464a-b2f8-87707d441f48/_src_/
Supprimerait .idea/dataSources/3e29f362-62e4-464a-b2f8-87707d441f48/_staging_/
Supprimerait .idea/
Supprimerait datadir/
Supprimerait django/.idea/dataSources/3e29f362-62e4-464a-b2f8-87707d441f48/_src_/
Supprimerait django/.idea/dataSources/3e29f362-62e4-464a-b2f8-87707d441f48/_staging_/
Supprimerait django/templates/
